{{- define "main" }}

{{$heading := ""}}
{{if eq .Type "tags"}}
{{$heading = "Filter posts by topic"}}
{{else if eq .Type "series"}}
{{$heading = "Filter posts by multi-part series"}}
{{else}}
{{$heading = printf "%s %s" "Filter posts by" .Type }}
{{end}}

<p class="m-0 p-0">{{$heading}}</p>

<ul class="list-none flex flex-row flex-wrap px-0">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li class="ml-0 mr-2 pl-0 pr-3">
        <a class="text-xl" href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}