{{ $currentPage := . }}
<nav class="sticky top-0 pt-4 sm:pt-0 z-10 bg-inherit border-b">
    <div class="sm:hidden w-full flex justify-between">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-script" width="44" height="44"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M17 20h-11a3 3 0 0 1 0 -6h11a3 3 0 0 0 0 6h1a3 3 0 0 0 3 -3v-11a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v8" />
        </svg>
        <svg id="open-menu" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44"
            height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
        </svg>
        <svg id="close-menu" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x hidden" width="44"
            height="44" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
    <div id="menu" class="hidden sm:flex w-full mx-auto justify-between items-center py-4">
        <div class="w-full sm:w-4/5">
            {{ $url := .RelPermalink }}
            {{ range .Site.Menus.main }}
            {{ $active := eq $url .URL }}
            {{/* {{ $active := $currentPage.IsMenuCurrent .Menu . }} */}}
            <a href="{{ .URL }}" class="pr-6 py-2 text-xl font-medium block sm:inline-block sticky sm:relative text-center transition ease-in-out duration-150
                {{ if $active }}!underline !underline-offset-8{{ end }}">{{ upper .Name }}</a>
            {{ end }}
        </div>
        <div class="w-full sm:w-1/5 flex justify-center sm:justify-end">
            {{ if .Site.Params.search }}
            <svg id="search-switch" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg>
            {{ end }}
            <svg id="day-switch" xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-sun hidden dark:block" width="28" height="28" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
            </svg>
            <svg id="night-switch" xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-moon-stars dark:hidden" width="28" height="28" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
                <path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2" />
                <path d="M19 11h2m-1 -1v2" />
            </svg>
        </div>
    </div>
</nav>